<!--
  Desenvolvido por: Lucas Silva
  Linkedin: https://www.linkedin.com/in/lucas-silva-a9582b188/
  GitHub: https://github.com/lucasDSBR
-->
<style type="text/css">
  * {
    width: 0 auto;
    height: 0 auto;
  }
  #lia_rodape {
    position: absolute;
    bottom: 0;
    position: fixed;
    background-color: #212529;
    border-radius: 80px 80px 80px 0px;
  }
  #imgUser {
    border-radius: 100%;
  }
  #niveis {
    color: #FFF;
    position: relative;
    margin-top: 10px;
    margin-right: 20px;
  }
</style>
<div>
 <nav class="navbar navbar-dark bg-dark mb-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><h2>Developer tasks</h2></a>
    <div class="d-flex">
      <div id="niveis">
        <div class="row">
          <div class="col">

          </div>
          <!--<div class="col">
            <p>{{tarefas.length}} Concluida(s): <progress value="{{tarefas.length}}" max="50"class="align-middle"></progress></p>
          </div>-->
        </div>
      </div>
      <!--IMGUSER + menu-->
      <img src="assets/user.png" width="70px" height="70px" id="imgUser" style="background-color: #FFF;">
      </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- Assistente -->
<div class="modal fade m-2" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title align-middle" id="exampleModalLabel">
          Lia
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cancelarMsgs()"></button>
      </div>
      <div class="modal-body">
        <div id="msgLia">...</div>
        <div id="respUser" style="text-align: right;">...</div>
        <div id="respostaLia"></div>
      </div>
      <div class="modal-footer">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Escreva aqui..." id="userResposta" aria-label="Recipient's username" aria-describedby="button-addon2" onkeydown = "if (event.keyCode == 13)document.getElementById('enviar').click()" autocomplete="off">
          <div class="input-group-append">
            <button class="btn btn-outline-success" type="button" id="enviar" (click)="respostaEnv()"><img src="assets/enviar.png" width="40px" height="40px"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="lia_rodape">
  <h5><img src="assets/lia.webp" class="m-2" (mouseover)="lia_over()" width="60" height="60" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="assets/digitando.gif" class="m-1" width="50" height="30"><span id="lia" style="color: #fff; padding-right: 20px;">Olá, sou a Lia. Estou aqui para lhe ajudar em algumas dúvidas. Qualque coisa, clique em mim.</span></h5>
</div>
</div>

´<!--
  Desenvolvido por: Lucas Silva
  Linkedin: https://www.linkedin.com/in/lucas-silva-a9582b188/
  GitHub: https://github.com/lucasDSBR
-->