<style type="text/css">
  #colMenu{
    border-right: 1px solid #C0C0C0;
    margin-right: 25px;
  }
</style>
<div class="row">
    <div class="col" id="colMenu">
        <!--MENU-->
        <app-menu></app-menu>
    </div>
    <div class="col-9">
        <div class="jumbotron" style="background-color: #FFF; padding: 10px; border-radius: 10px;">
            <h1 class="mb-2 col d-flex justify-content-center">Tarefa</h1>  
            <div class="row">
                <div class="col">
                    <p class="lead"><strong><b>Titulo:</b></strong> {{tarefa.titulo}}</p>
                </div>
                <div class="col">
                    <p class="lead"><strong><b>Importância:</b></strong> {{tarefa.importancia}}</p>
                </div>
                <div class="col">
                    <p class="lead"><strong><b>Data</b></strong> {{tarefa.data}}</p>
                </div>
            </div>
            <div class="row">
                <p class="lead"><strong><b>Texto:</b></strong></p>
                <p>{{tarefa.texto}}</p>
            </div>
            <hr class="my-4 ">
            <div class="d-flex justify-content-center">
                <a routerLink="/tarefas" class="btn btn-primary " style="width: 100px;">Voltar</a>
            </div>
        </div>
    </div>
</div>
´<!--
  Desenvolvido por: Lucas Silva
  Linkedin: https://www.linkedin.com/in/lucas-silva-a9582b188/
  GitHub: https://github.com/lucasDSBR
-->

